{% extends "layouts/default-fullscreen.html" %}

{% block title %} Error 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <h2>Error 404</h2>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <p>
                    Page not exists
                  </p>
                </div>

                  <div class="text-center">
                    <a href="/" class="btn btn-primary my-4">Home</a>
                  </div>

              </div>
            </div>

            <div class="row mt-3">
              <div class="col-6">
                <a href={{ url_for('register') }} class="text-light"><small>Create account</small></a>
              </div>
              <div class="col-6 text-right">
                <a href="https://appseed.us/support" class="text-light"><small>Get support</small></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
